.centro {
    
    float: none;
    margin: 0 auto;
}

span {
    width: 100px;
    display: inline-block;
    align-items: left;
    
}

.mensaje_error {
    
    color: red;
}

#titulo{
    
    background-color: aqua;
}

