span {
    width: 100px;
    display: inline-block;
    align-items: left;
    
}

.mensaje_error {
    
    color: red;
}

.rutas {
    
    border: 10px solid aqua;
}

.tabla {
    
    border: 1px solid black;
    border-collapse: separate;
    width: 100px;
    height: 100px;
}

.tabla_head {
    
    background-color: aqua;
    border: 1px solid black;
}

.imagenes_card {
    
    height: 180px;
    width: 256px;
}

body {
    
    background-color: #aef3ff;
}

.container {
    
    min-height: 400px;
    background: white;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.79);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.79);

}

#titulo {
    
    background-color: #0069AA;
    color: white;
}

#login {
    
    margin-top: 25px;
    
}

.table {
    
     margin-top: 25px;
}

#map {
        height: 400px;
        width: 100%;
       }
