.centro {
    
    float: none;
    margin: 0 auto;
}

span {
    width: 100px;
    display: inline-block;
    align-items: left;
    
}

.rutas {
    
    border: 10px solid aqua;
}

#titulo{
    
    background-color: aqua;
}